
<h1>Welcome to our Student Gradebook</h1>

<p>Which records would you like to view?</p>

<p><a href="/students">Students</a></p>
<p><a href="/courses">Courses</a></p>
<p><a href="/enrollments">Enrollments</a></p>
<p><a href="/assignments">Assignments</a></p>
<p><a href="/quizzes">Quizzes</a></p>
<p><a href="/first_exams">First Exams</a></p>
<p><a href="/second_exams">Second Exams</a></p>